/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.background {
    -fx-background-image: url('"C:\Users\ASUS\Desktop\national-doctor-s-day-hand-drawn-background_23-2149438164.jpg"');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
}
.whit_background{
    -fx-background-color: #fff;
}
.primary-color{
    -fx-background-color: #F4F5F9
}
.shadow{
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.1),10,0,0,10);
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
